<br>
<div class="card">
  <div class="card-content">
    <div class="content">
        <p>{{comment.content}}</p>
        <p>- {{user.username}}, {{comment.date_created}}</p>
    </div>
  </div>
</div>