{{#each blogs as |blog| }}
<div class="card">
    <header class="card-header">
    <p class="card-header-title">
        {{blog.title}}
    </p>
  <div class="card-content">
    <div class="content">
        {{blog.content}}
    </div>
    
  </div>
</div>